
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  list-style: none;

}

.item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}
.likeButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;

  &:hover {
    background-color: #2980b9;
  }
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 16px 0;
  color: #333;
  text-align: center;
  height: 2rem;
}

.price {
  font-size: 1rem;
  color: #27ae60;
  font-weight: bold;
  text-align: center;
}

.date {
  font-size: 0.9rem;
  color: #888;
  text-align: center;
}

.location {
  font-size: 1rem;
  color: #555;
  margin: 8px 0;
  text-align: center;
}

.description {
  font-size: 0.95rem;
  color: #666;
  margin: 16px 0;
  padding: 0 16px;
  text-align: justify;
  height: 10rem;
  overflow: hidden; /* Masquer le texte qui dépasse */
  text-overflow: ellipsis; /* Ajouter des points de suspension */
  display: -webkit-box; /* Utiliser le modèle de boîte flexible */
  -webkit-box-orient: vertical; /* Orienter la boîte verticalement */
}

.details {
  font-size: 0.9rem;
  color: #444;
  margin: 4px 16px;
}

.images {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 16px;
  height: 20rem;


  img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    max-width: 200px;
    object-fit: cover;
  }
}

.link {
  display: block;
  text-align: center;
  background: #3498db;
  color: #fff;
  padding: 10px 16px;
  border-radius: 4px;
  margin: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;

  &:hover {
    background: #2980b9;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 1rem;

}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 25%;
  border: 1px solid #3498db;
}

.pagination .active {
  font-weight: bold;
  text-decoration: underline;
  background: #2980b9;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .title {
    height: auto;
  }
  .description {
    height: auto;
  }

}