.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #3498db;
}

.logo {
  border-radius: 10%;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  position: relative;
}

.button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #84bde4;
  }
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownItem {
  display: block;
  padding: 1rem;
  text-align: left;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;

  &:hover {
    background-color: #eef5f8;
  }

  & + .dropdownItem {
    border-top: 1px solid #3498db;
  }
}